services:
  reto2:
    image: reto2-image:latest
    build: .
    container_name: reto2_jupyter
    working_dir: /app
    volumes:
      - ./:/app
    ports:
      - "8888:8888"
    environment:
      - PYTHONUNBUFFERED=1
      - JUPYTER_TOKEN=Reto2
    command: >
      jupyter lab
      --ip=0.0.0.0
      --port=8888
      --no-browser
      --allow-root
      --NotebookApp.token=${JUPYTER_TOKEN}
      --NotebookApp.password=


