services:
  reto2:
    build: .
    container_name: reto2_dgd_2026
    working_dir: /app
    volumes:
      - ./:/app
    ports:
      - "8888:8888"
    environment:
      - PYTHONUNBUFFERED=1
    command: >
      jupyter lab
      --ip=0.0.0.0
      --port=8888
      --no-browser
      --allow-root
      --NotebookApp.token=
      --NotebookApp.password=
